# Default behavior
* text=auto

# Scripts specific for Windows
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Config files specific for Windows
*.cfg text eol=crlf
*.ini text eol=crlf
*.reg text eol=crlf

# Default Windows Notepad program cannot handle LF line ending
*.md text eol=crlf
*.txt text eol=crlf

# Specific for curl-for-win utility
utils/curl/*.txt text eol=crlf
utils/curl/*.crt text eol=lf

# Binary
*.dll binary
*.exe binary
*.png binary
*.jpg binary
